* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Popins";

}

.cabecalho {
    background-color: #695470;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-little-boy {
    width: 300px;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}